yaml

FileNames:
  - "*.gdshader"
  - "*.h"
  - "*.cpp"
  - "*.cxx"

BasedOnStyle: LLVM

ColumnLimit: 80
UseTab: Never
IndentWidth: 4
TabWidth: 4
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: WithoutElse
IndentCaseLabels: false
AccessModifierOffset: -4
SpacesInConditionalStatement: true
SpacesInContainerLiterals: true
SpacesInAngles: true
SpacesInCStyleCastParentheses: true
SpacesInParentheses: true
SortInclues: Never
PointerAlignment: Left
